:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* 支持双色模式 */
  color-scheme: light dark; 
  color: black;
  background-color: rgba(245, 235, 235, 0.67);
  /* 禁止浏览器合成字体（避免假粗体、假斜体） */
  font-synthesis: none;  
  /* 优化文字渲染质量 */
  text-rendering: optimizeLegibility;
  /* WebKit 引擎字体抗锯齿 */
  -webkit-font-smoothing: antialiased;
  /* Firefox 在 macOS 上的字体平滑 */
  -moz-osx-font-smoothing: grayscale;

  /* 主题色 */
  --primary-color: #07c160;
  --background-color: #333333;
  --background-color-hover: #4f4f4f;
  --button-color: #edecec;
  --button-color-hover: #d3d2d2;
  --icon-color: #b2a9ac;
  --text-color: #333333;
  --warning-color: #f56c6c;
}


/* 重置 */
* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}

button:focus {
  outline: none;
}
input, textarea, select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 确保这些 HTML5 语义化标签在老浏览器中显示为块级元素现代浏览器已默认支持，但为了兼容性保留 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}