.chat_view_container {
    flex: 1;
    height: 100%;
    display: flex;
    background-color: white;
}

// 左侧
.chat_view_left {
    width: 200px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    .chat_view_left_header {
        height: 50px;
        display: flex;
    }
    .chat_view_left_body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        .chat_view_left_body_item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            padding: 10px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.08);
            &:hover {
                background-color: rgba(0, 0, 0, 0.15);
            }
            .item_avatar {
                width: 35px;
                height: 35px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .item_title {
                font-size: 16px;
                font-weight: bold;
            }
            .item_content {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}

// 右侧
.chat_view_right {
    flex: 1;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    .chat_header {
        height: 30px;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    // 消息列表
    .chat_body {
        flex: 1;
        min-height: 0; // 让内容可以收缩,防止容器撑开
        padding: 0 10px;
        overflow-y: auto;
        scrollbar-width: none; // 隐藏滚动条
    }
    .message_list {
        height: 100%;
        // overflow-y: auto;
        // scrollbar-width: none; // 隐藏滚动条
        li {
            border-bottom: none; //去掉组件默认的分割线
        }
        .self_msg {
            display: flex;
            justify-content: flex-end;
        }
        .other_msg {
            display: flex;
            justify-content: flex-start;
        }
        .message_content {
            display: flex;
            max-width: 50%;
            align-items: flex-start;
            word-break: break-all;
            background-color: var(--primary-color); 
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
        }
    }
    // 输入框
    .input_area_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        // min-height: 80px;
        .input_area_box {
            width: 100%;
            display: flex;
            align-items: center;

            .input_textarea {
                flex: 1;
                resize: none;
                scrollbar-width: none;
            }
            .send_button {
                width: 50px;
                height: 100%;
            }            
        }
 
    }

}