.chat_view_container {
    flex: 1;
    height: 100%;
    display: flex;
    background-color: white;
}

// 左侧
.chat_view_left {
    width: 200px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    .chat_view_left_header {
        height: 50px;
        display: flex;
    }
    .chat_view_left_body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}

// 右侧
.chat_view_right {
    flex: 1;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    .chat_header {
        height: 30px;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    // 消息列表
    .chat_body {
        flex: 1;
        min-height: 0; // 让内容可以收缩,防止容器撑开
        padding: 0 10px;
        overflow-y: auto;
        scrollbar-width: none; // 隐藏滚动条
    }
    .message_list {
        height: 100%;
        // overflow-y: auto;
        // scrollbar-width: none; // 隐藏滚动条
        li {
            border-bottom: none; //去掉组件默认的分割线
        }
        .self_msg {
            display: flex;
            justify-content: flex-end;
        }
        .other_msg {
            display: flex;
            justify-content: flex-start;
        }
        .message_content {
            display: flex;
            max-width: 50%;
            align-items: flex-start;
            word-break: break-all;
            background-color: var(--primary-color); 
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
        }
    }
    // 输入框
    .input_area_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .input_area_header {
            background-color: white;
            display: flex;
            justify-content: space-between;
            height: 30px;
            width: 100%;
            padding: 0 20px;
            .input_area_header_left {
                display: flex;
                gap: 15px;
            }   
            .input_area_header_right {
                display: flex;
                gap: 15px;
            }
            .input_area_icon {
                cursor: pointer;
                font-size: 22px;
                color: rgba(0, 0, 0, 0.5);
            }
        }
        .input_area_body {
            width: 100%;
            display: flex;
            align-items: center;

            .input_textarea {
                flex: 1;
                resize: none;
                scrollbar-width: none;
                border: none;
                padding: 0 20px;
            }
            // 去除antD自带样式
            :global(.ant-input-outlined:focus),
            :global(.ant-input-outlined:focus-within) {
              border-color: transparent !important;
              box-shadow: none !important;
              outline: none !important;
              background-color: transparent !important;
            }
        }
        .input_area_footer {
            background-color: white;
            height: 50px;
            width: 100%;
            padding: 10px 20px;
            display: flex;
            justify-content: end;
            .send_button {
                width: 70px;
                height: 100%;
            }                  
        }
    }

}